#pixelCanvas {
    background: linear-gradient(orange, white);

}
#colorPicker{
    margin: 0 auto !important;
    color: #000040;
    width: 15% !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #0275d8;;

}
.btn-primary{
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    margin-left: 4px;
}

.project-title{
/*     font-family: 'Press Start 2P', cursive; */
    font-family: Monoton;
    font-size: 1.5em;
    margin: 0.2em;
    color: #0275d8;
    font-weight: 300;
}
.project-subtitle, h2{
    color: #0275d8 !important;
    font-weight: 700 !important;
  font-size: 1em !important;
}
label{
    font-size: .7em;
    font-weight: bolder;
    padding: 4px;
    color: #0275d8;
}
h2{
    font-size: .9em;
    font-weight: bolder;
}

@media (min-width: 576px){
.form-inline .form-control {
    display: inline-block;
    width: 5em;
    vertical-align: middle;
}}
table,
tr,
td {
    border: .5px solid navy !important;
}

table {

    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 10px;
}
#grid-container{
    width: 70%;
}