/* fonts */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
}
/* Style the title */
h3 {
    padding-left: 5px;
}
/* Styling image tag */
.animal-image {
    width: 300px;
    height: 50%;
    margin: auto;
    display: block; /* To make the image display as block element for the margin property to work */
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
/* Styling fun facts about my favorite animal */
.animal-fun-facts {
    font-style: italic;
}
/* Styling animal list item labels */
.list-item-label {
    font-weight: bold;
}
/* Styling list item, remove the bullets */
.list-item {
    list-style: none;
}
/* Styling the inner div to create a border around the fun facts and list items on Zebras */
.animal-info {
    border: solid 1px #c0c0c0;
    width: 300px;
    margin: auto;

}
/* Styling first div in the HTML document */
.animal-trading-card {
    width: 310px;
    border: solid 1px #c0c0c0;
    padding: 5px;
    margin: auto;
    box-shadow: 3px 3px #c0c0c0;
}
/* Styling p and ul tags inside the inner div */
.animal-info > p, ul {
    padding: 5px;
}
/* Styling a (links) in the source HTML */
a {
    text-decoration: none;
    color: #1e90ff;
    font-weight: 500;
}